.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #00ffff;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  transition: width 0.2s, height 0.2s, background-color 0.2s;
}
/* Efek interaktif saat mouse berada di atas tombol */
a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 255, 255, 0.2);
}